<!-- HTML Structure -->
<div class="dashboard" *ngIf="Userprofile as profile">
    <div class="profile-container">
        <img *ngIf="Userprofile?.imageURL" [src]="Userprofile.imageURL" alt="Profile Image" class="profile-img" />

        <div class="profile-info">
            <div class="profile-field">
              
            </div>
            <div class="profile-field">
               <p  style="margin-top: 20px;"><strong>Name:</strong> <span>{{ profile.firstname }} {{ profile.lastname }}</span></p> 
            </div>
        </div>
    </div>

    <div class="profile-container1">
        <p><strong>Email       :</strong> <span>{{ userEmail }}</span></p>
        <p><strong>Phone Number:</strong> {{ profile.phoneNumber }}</p>
        <p><strong>Flat Number:</strong> {{ profile.flatNumber }}</p>
        <p><strong>Block Number:</strong> {{ profile.blockNumber }}</p>
    </div>

    <div class="btn">
        <button (click)="logout()">Logout</button>
        <button (click)="Edit_profile()" style="background: #dc3545; color: white;">Edit</button>
        <button (click)="delete_profile()" style="background: #dc3545;">Delete</button>
    </div>
</div>
