<div class="dashboard" *ngIf="Userprofile as profile">




        <div class="profile-container">

            <img *ngIf="Userprofile?.imageURL" [src]="Userprofile.imageURL" alt="Profile Image" class="profile-img" />

            <span class="profile-text"><strong >Email:</strong> {{ userEmail }}</span>
            <span class="profile-text"><strong >Name:</strong> {{ profile.firstname }} {{ profile.lastname }}</span>
        </div>

        <div class="profile-container1">
            <p><strong>Phone Number:</strong> {{ profile.phoneNumber }}</p>

            <p><strong>Flat Number:</strong> {{ profile.flatNumber }}</p>
            <p><strong>Block Number:</strong> {{ profile.blockNumber }}</p>
        </div>
       
     

        <div class="btn">
            <button (click)="logout()">Logout</button>
            
            <button (click)="Edit_profile()" style="background: #dc3545;   color: white;">Edit</button>

            <button (click)="delete_profile()" style="background: #dc3545;">Delete</button>


        </div>


</div>