<div class="container">
    <h2>Member Complaints</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Complaint ID</th>
          <th>Member ID</th>
          <th>Member Name</th>
          <th>Flat Number</th>
          <th>Block Number</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let complaint of complaints">
          <td>{{ complaint.complaints_id }}</td>
          <td>{{complaint.member_id}}</td>
          <td>{{ complaint.firstname }} {{complaint.lastname}}</td>
          <td>{{complaint.flatNumber}}</td>
          <td>{{complaint.blockNumber}}</td>
          <td>{{complaint.title}}</td>
          <td>{{complaint.description }}</td>
          <td>
            {{ complaint?.status }}
          </td>
          <td>
            <button (click)="toggleStatus(complaint)" 
                    [ngClass]="{'btn-resolved': complaint?.status?.trim().toLowerCase() === 'pending', 
                                'btn-pending': complaint?.status?.trim().toLowerCase() === 'resolved'}"
                    class="btn">
              {{ complaint?.status?.trim().toLowerCase() === 'pending' ? 'Mark as Resolved' : 'Mark as Pending' }}
            </button>
        
          <button (click)="deleteComplaint(complaint.complaints_id)" class="btn btn-danger">
              Delete
            </button>
         </td>
        </tr>
      </tbody>
    </table>
    <button (click)="backToDashboard()" class="back-to-dashboard">Back to Dashboard</button>

  </div>
  