.dashboard-container {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  width: 250px;
  height: 100vh;
  padding: 20px 0;
  background: linear-gradient(135deg, #6a11cb, #3f0d79, #ff0099, #ff6a00, #ffcc00);

  position: fixed;
  top: 50px;
  left: 0;
  transition: all 0.3s ease;
} 

.navbar ul {
  list-style: none;
  padding: 0;
  margin-bottom: 400px;
}

.navbar ul li {
  padding: 25px 30px;
  transition: all 0.3s ease;
  font-size: 30px;
  margin: auto;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar ul li:hover {
  background: #2c3e50;
  cursor: pointer;
}

/* Sidebar Toggle */
.sidebar-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin-left: 20px;
}

/* ======= Main Content Area ======= */
.dashboard {
  margin-left: 260px;
  padding: 20px;
  flex-grow: 1;
}

/* ======= Footer Styles ======= */
.footer {
  background: linear-gradient(135deg, #3f0d79, #752b91);
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  position:fixed;
  bottom: 0;
  left: 0;
  margin-top: 50px;
}

.footer-content {
  width: 100%;
}


.footer a {
  color: #1abc9c;
  text-decoration: none;
  margin: 0 10px;
}


.dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 220px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  left: 0;
  margin-left: 250px;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #2c3e50;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.container1 {
  display: flex;
  flex-direction: column;
}