
<div class="container">
    <div class="left-section">
      <h1>WELCOME TO SOCIOSYNC</h1>
  
      <div class="rocket-image">
        <!-- <img src="assets/images/society.jpg" alt="Rocket"> -->
      </div>
    </div>
    
    <div class="right-section">
      <h2> Reset your password</h2>

        <div class="container1">
            <p>If the account exist, we will email you instructions to reset the password</p>
  
        </div>
    
      <form id="Loginform" >
        <div class="input-container">
          <i class="fas fa-user"></i>
          <input 
            type="email" 
            placeholder="Email" 
            id="email" 
            name="email" 
            required>
        </div>
  
 
  
        <div class="options">
          <label>
            <!-- <input type="checkbox"> Remember -->
          </label>
        </div>
  
        <button class="login-btn" type="submit">Reset Password</button>
        <button class="login-btn" type="submit"><a href="/login">Return to Login</a></button>
  
  
        <!-- <p>Don't have an account? <a href="/user-registration" class="link">Register</a></p> -->
      </form>
    </div>
  </div>
  
