<div class="payment-container">
    <h2>Maintenance Charges</h2>
  
    <form>
      <div class="form-group">
        <label>Flat No:</label>
        <input type="text" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label>Maintenance Amount:</label>
        <input type="text" class="form-control" >
      </div>
  
      <h3>Expense Details</h3>
      <ul class="breakdown-list">
        <li>Water Charges</li>
        <li>Electricity Charges</li>
        <li>Security Charges</li>
        <li>Other</li>
      </ul>
  
      <div class="form-group">
        <label>Current Date:</label>
        <input type="date" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label>Payment Method:</label>
        <select class="form-control">
          <option value="upi">UPI</option>  
          <option value="card">Credit/Debit Card</option>
          <option value="netbanking">Net Banking</option>
          <option value="cash">Cash</option>
        </select>
      </div>
  
     
  
      <button class="btn btn-success btn-block">Pay Now</button>
    </form>
  </div>
  

